// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;






// @import '~bootstrap/scss/functions';
// @import '~admin-lte/build/scss/bootstrap-variables';

// // Custom Theme Color START
// $custom-color: #00FF00;
// $theme-colors: map-merge((
//     'custom-color': $custom-color,
// ), $theme-colors);
// // Custom Theme Color END