// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;



// // Custom Theme Color START
// $theme-colors: (
//   "custom-color": #900
// );

// @import "~bootstrap/scss/bootstrap";
// // @import "~admin-lte/build/scss/_adminlte.raw";

